.input-group {
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
}

.input-label {
  font-size: 0.9rem;
  font-weight: 500;
  color: #dfe4ea;
}

.input-field {
  padding: 0.6rem 0.8rem;
  border-radius: 6px;
  border: 2px solid #3f3f3f;
  background-color: #2f2f2f;
  color: white;
  font-size: 1rem;
  transition: border-color 0.2s;
}

.input-field:focus {
  outline: none;
  border-color: #646cff;
}

.input-error {
  border-color: #ff4757;
}

.error-text {
  font-size: 0.8rem;
  color: #ff4757;
}
